



@media screen and (max-width : 950px){
    section{

        .login{
            width: 340px;
        }


        .title {
            padding: 100px;
            h1{
                text-align: center;
            }
        }
    }
}